@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

.back>figure>img {
    position: relative;
    width: 100%;
    height: 100vh;
    /* display: block; */
}

.jeu {
    position: absolute;
    /* background-color: red; */
    width: 100%;
    height: 350px;
    bottom: 5vh;
    border: 5px solid red;
    border: 0;
    border-bottom: 5px solid black;
    display: flex;
    align-items: baseline;
}

.perso {
    position: absolute;
    width: 85px;
    height: 233px;
    bottom: 0px;
    left: 10px;
    transform: rotateY(-180deg);
}

.rotate.perso{
    transform: rotateY(0deg);
}

.animation {
    animation: perso-saut 500ms infinite;
}

/*Animation personnage saute*/

@keyframes perso-saut {
    0% {
        top: 0px;
    }

    25% {
        top: 10px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 20px;
    }
}

  
.perso img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.obstacles {
    position: absolute;
    background-color: #4a4a4a;
    width: 60px;
    height: 60px;
    bottom: 0px;
    left: 98%;
    border-radius: 80%;
    animation: anime-obstacles 5.5s infinite;

}

/*animation obstacles*/

@keyframes anime-obstacles {
    0% {
        left: 95%;
    }

    100% {
        left: -40%;
    }

}


/* Modal */


/* .modal,.modal2, .modal3,.modal4{
} */

.modal>.box_modal, .modal2>.box_modal, .modal3>.box_modal, .modal4>.box_modal{
    position: absolute;
    display: flex;
    gap: 10px;
    flex: 40% 0 60%;
    height: 100vh;
    width: 60%;
    top: 30px;
    right: 30px;
    z-index: 12;
}

.modal>.box_modal>.container_Modal, .modal2>.box_modal>.container_Modal, .modal3>.box_modal>.container_Modal,
.modal4>.box_modal>.container_Modal{
    background: rgba(255, 255, 255, 0.486);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.562);
    height: 410px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content>p{
    padding: 10px;
}

.container {
    display: block;
    height: 600px;
    width: 100%;
}

.card {
    background: rgba(255, 255, 255, 0.486);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.562);
    height: 200px;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.block{
    display:block;
    text-align: center;
}

.block>h2{
    font-weight: bolder;
    margin-top: 20px;
}

.c2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card>h2{
    text-align: center;
    font-size: 1.2rem;
}

.card>h2 span {
    font-size: 2rem;
}

.container_block{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin-top: 15px;
}

/* .block1>ul, .block2>ul, .block3>ul, .block4>ul {
    list-style: none;
} */

.card>button {
    padding: 5px;
    margin-top: 15px;
}

.modal{
    display: none;
}

.modal2 {
    display: none;
}

.modal3 {
    display: none;
}

.modal4 {
    display: none;
}




/* Nouveau code  */


.level{
    position: absolute;
    width: 100%;
    top: 2vh;
    left: 0;
    display: flex;
}

.level>.line {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 6, 130);
    z-index: 1;
}

.level>div>.number{
    background-color: #231f20;
    font-size: 1rem;
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px solid rgb(0, 6, 130);
    font-weight: bold;
    margin-bottom: 15px;
}

.level>div>.number::before{
    content: "";
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 3px solid rgb(0, 6, 130);
    font-weight: bold;
}


.cardO{
    background-image: url("/SkateParkours/img/Card-blue.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 283px;
    position: relative;
}

.cardL {
    background-image: url("/SkateParkours/img/Card-violet.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 283px;
    position: relative;
}

.cardG {
    background-image: url("/SkateParkours/img/Card-rose.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 283px;
    position: relative;
}

.cardC {
    background-image: url("/SkateParkours/img/Card-yellow.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 283px;
    position: relative;
    text-align: center;
}

.cardO>.date, .cardL>.date, .cardG>.date, .cardC>.date{
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 44px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
}

.cardO>h2, .cardL>h2, .cardG>h2, .cardC>h2 {
    position: absolute;
    color: #231f20;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 1rem;
}

.cardO>p, .cardG>p, .cardC>p {
    position: absolute;
    color: #231f20;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 160px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    text-align: center;
}

.cardL>p, .cardG>p {
    position: absolute;
    color: #231f20;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.8rem;
}

.cardG>a, .cardO>a, .cardL>a, .cardC>a {
    position: absolute;
    color: #231f20;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    /* margin: auto; */

    width: 60%;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    font-size: .8rem;
    text-decoration: none;
    border-radius: 5px;
}

.cardG>a::before, .cardO>a::before, .cardL>a::before, .cardC>a::before {
    content: "";
    position: absolute;
    width: 20px;
    left: -24px;
}

.cardG>a::after, .cardO>a::after, .cardL>a::after, .cardC>a::after {
    content: "";
    position: absolute;
    width: 21px;
    right: -25px;
}

.cardG>a{
    border: 2px solid #8502af; 
}

.cardO>a {
    border: 2px solid #1a32a3;
}

.cardL>a {
    border: 2px solid #550d94;
}

.cardC>a {
    border: 2px solid #fe5a02;
}

.cardG>a::after, .cardG>a::before{
border: 1px solid #8502af;
}

.cardO>a::after, .cardO>a::before {
border: 1px solid #1a32a3;
}

.cardL>a::after, .cardL>a::before{
    border: 1px solid #550d94;
}

.cardC>a::after, .cardC>a::before{
    border: 1px solid #fe5a02;
}

.one>div, .two>div, .three>div, .four>div {
    margin: auto;
}

.one figure, .two>figure, .three>figure, .four>figure {
    width: 200px;
}

.one figure>img, .two>figure>img, .three>figure>img, .four>figure>img {
    width: 100%;
    margin-top: 20px ;
}

.one{
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 2;
}

.two {
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 2;
}

.three {
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 2;
}

.four {
    position: absolute;
    top: 0;
    left: 80%;
    z-index: 2;
}


.car {
    background-color: rgb(0, 6, 130);
    height: 120px;
    width: 250px;
    position: absolute;
    left: 12px;
    top: 12px;
    border-top-style: 12px;
     width: 1px;
    height: 1px;
    border: 1px solid #069;
    border-color: transparent transparent #069 #069;
    border-width: 100px; 
}

.cardG {
    display: none;
}

.cardO {
    display: none;
}

.cardL {
    display: none;
}

.cardC {
    display: none;
}



.param {
    position: absolute;
    background-color: #4a4a4a9d;
    height: 100vh;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.param-content>figure {
    width: 700px;
    position: relative;
}

.param-content>figure>img{
    width: 100%;
}

.param-content>figure>a>img {
    width: 300px;
}

.param-content>figure>a>span {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bolder;
    z-index: 6;
}
