@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

.back>figure>img {
    position: relative;
    width: 100%;
    height: 100vh;
    /* display: block; */
}

.jeu {
    position: absolute;
    /* background-color: red; */
    width: 100%;
    height: 350px;
    bottom: 200px;
    border: 5px solid red;
    border: 0;
    border-bottom: 5px solid black;
    display: flex;
    align-items: baseline;
}

.perso {
    position: absolute;
    width: 85px;
    height: 233px;
    bottom: 0px;
    left: 10px;
    transform: rotateY(-180deg);
}

.rotate.perso{
    transform: rotateY(0deg);
}

.animation {
    animation: perso-saut 500ms infinite;
}

/*Animation personnage saute*/

@keyframes perso-saut {
    0% {
        top: 0px;
    }

    25% {
        top: 10px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 20px;
    }
}

  
.perso img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.obstacles {
    position: absolute;
    background-color: #4a4a4a;
    width: 60px;
    height: 60px;
    bottom: 0px;
    left: 98%;
    border-radius: 80%;
    animation: anime-obstacles 5.5s infinite;

}

/*animation obstacles*/

@keyframes anime-obstacles {
    0% {
        left: 95%;
    }

    100% {
        left: -40%;
    }

}


/* Modal */


/* .modal,.modal2, .modal3,.modal4{
} */

.modal>.box_modal, .modal2>.box_modal, .modal3>.box_modal, .modal4>.box_modal{
    position: absolute;
    display: flex;
    gap: 10px;
    flex: 40% 0 60%;
    height: 100vh;
    width: 60%;
    top: 30px;
    right: 30px;
    z-index: 12;
}

.modal>.box_modal>.container_Modal, .modal2>.box_modal>.container_Modal, .modal3>.box_modal>.container_Modal,
.modal4>.box_modal>.container_Modal{
    background: rgba(255, 255, 255, 0.486);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.562);
    height: 410px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content>p{
    padding: 10px;
}

.container {
    display: block;
    height: 600px;
    width: 100%;
}

.card {
    background: rgba(255, 255, 255, 0.486);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.562);
    height: 200px;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.block{
    display:block;
    text-align: center;
}

.block>h2{
    font-weight: bolder;
    margin-top: 20px;
}

.c2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card>h2{
    text-align: center;
    font-size: 1.2rem;
}

.card>h2 span {
    font-size: 2rem;
}

.container_block{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin-top: 15px;
}

/* .block1>ul, .block2>ul, .block3>ul, .block4>ul {
    list-style: none;
} */

.card>button {
    padding: 5px;
    margin-top: 15px;
}

.modal{
    display: none;
}

.modal2 {
    display: none;
}

.modal3 {
    display: none;
}

.modal4 {
    display: none;
}




/* Nouveau code  */


