@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0; 
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.back>figure>img {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.front{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 15px;
    border-radius: 16px;
    background-color: #02002a;
    border: solid 0px #fff5ff;
}

.ecran {
    text-align: center;
    width: 40%;
}

.content-card {
    width: 60%;
    text-align: center;
}

.content-card p{
    text-align: start;
    color: white;
}

canvas {
    /* border: solid 2px; */
    background-color: #02002a;
    border: solid 5px black;
    border-radius: 16px;
}

.suivant {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 12;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.suivant>a {
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.suivant>a {
    text-decoration: none;
}

.suivant>a>p {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.suivant>figure {
    border: none;
}

.suivant figure>img {
    width: 30px;
    transform: rotate(118deg);
}

.precedent {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 12;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.precedent>a {
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.precedent>a{
    text-decoration: none;
}

.precedent>a>p {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.precedent>figure {
    border: none;
}

.precedent figure>img {
    width: 30px;
    transform: rotate(-61deg);
    filter: contrast(200%);
}

.ecran {
    position: relative;
    width: 40%;
}

canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}

#canvas{
    width: 350px;
    height: 350px;
    
}

.content-card>figure{
    width: 700px;
}

.content-card>figure>img {
    width: 100%;
}

.ecran>figure {
    width: 100%;
}

.ecran>figure>img {
    width: 100%
}

.content-card>figure>img {
    width: 100%;
}

.texte {
    margin-top: 15px;
}

.texte>p{
    color: rgb(255, 255, 255);
    /* text-shadow: red 1px 0 10px; */
    font-size: 0.9rem;
    font-family: 'Titan One', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}